.Cookie--base {
padding: 0 1em !important;
}
.Cookie--base .Cookie__button {
background: #bbbbbb !important;
padding: 0.5em 1em !important;
}
.Cookie--base .Cookie__button:hover {
background: #bbbbbb !important;
}
.Cookie__content {
color:#7f7f7f !important;
}